* {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100vh;
}

.tweets {
    background: #A0DDCE;
    text-align: center;
    padding: 10px;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
}

.replies {
    background: #F4D12F;
    text-align: center;
    padding: 10px;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1;
}

.search {
    background: #6A7A8A;
    text-align: center;
    padding: 10px;

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 1;
}

.messages {
    background: #52ABE5;
    text-align: center;
    padding: 10px;

    grid-column-start: 4;
    grid-column-end: 5;
    grid-row: 1;
}

/* shortcut grid-column: 4 / 5;*/