* {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100vh;
}

.tweets {
    background: #A0DDCE;
    text-align: center;
    padding: 10px;
}

.replies {
    background: #F4D12F;
    text-align: center;
    padding: 10px;
}

.search {
    background: #6A7A8A;
    text-align: center;
    padding: 10px;
}

.messages {
    background: #52ABE5;
    text-align: center;
    padding: 10px;
}