* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 10px auto;
    width: 700px;
    font-family: 'Lato';
    text-align: center;
  }
  
  h2 {
    margin: 25px;
    margin-bottom: 50px;
    font-size: 2em;
  }
  
  .container {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-gap: 10px;
    font-family: 'Lato';
    text-align: center;
    font-size: 1.4em;
    margin: 40px 30px;
  }
  
  .item {
    padding: 40px;
    font-size: 1.5em;
    border: 1px solid black;
  }
  
  .c {
    background: lightgreen;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  .e {
    background: lightgreen;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  
  .b, .j {
    background: orange;
    order: 2;
  }
  
  .a, .i {
    background: violet;
    order: 3;
  }