* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 10px auto;
  width: 700px;
  font-family: 'Lato';
  text-align: center;
}

h2 {
  margin: 25px;
  margin-bottom: 50px;
  font-size: 2em;
}

.container {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 10px;
  font-family: 'Lato';
  text-align: center;
  font-size: 1.4em;
  margin: 40px 30px;
}

.item {
  padding: 40px;
  font-size: 1.5em;
  border: 1px solid black;
}

.a, .b, .c {
  background: orange;
  justify-self: end;
}

.d, .e, .f {
  background: violet;
  justify-self: start;
}

.g, .h, .i {
  background: lightgreen;
  justify-self: center;
}

.j, .k, .l {
  background: cornflowerblue;
  justify-self: stretch;
}